@* @model SportsShop.Models.User *@
@if (Model != null)
{
    <li class="nav-item mx-lg-3">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="SignOut">
            Welcome, @Model.FirstName!
        </a>
    </li>
}
else
{
    <li class="nav-item mx-lg-3">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="SignIn">Sign in</a>
    </li>
}
