@{
    ViewData["Title"] = "Clothes";
}

<div class="container pt-4">
    <div class="row g-4">
        <!-- Lewy panel filtrów -->
        <div class="col-md-3 col-lg-2">
            <form action="/" method="post">
                <h5><label class="fw-bold" for="options">Clothes type</label></h5>
                <select class="form-select">
                    <option value="leggins">Leggins</option>
                    <option value="tank-top">Tank Top</option>
                    <option value="t-shirts">T-shirts</option>
                </select>
                <div>
                    <h5><label class="fw-bold mt-3">Sex</label></h5>
                    <select class="form-select">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="unknown">I don't know</option>
                    </select>
                </div>
                <div>
                    <h5><label class="fw-bold mt-3">Size</label></h5>
                    <select class="form-select">
                        <option value="xs">XS</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                        <option value="xxl">XXL</option>
                    </select>
                </div>
                <div>
                    <h5><label class="fw-bold mt-3">Material</label></h5>
                    <select class="form-select">
                        <option value="cotton">Cotton</option>
                        <option value="polyester">Poliester</option>
                        <option value="mixed">Mixed</option>
                    </select>
                </div>
            </form>
        </div>

        <!-- Sekcja produktów -->
        <div class="col-md-9 col-lg-10">
            <div class="row g-4">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/clothes/tank-top.jpg" alt="Black Tank Top" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Black Tank Top</h5>
                            <p class="card-text">99.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/clothes/t-shirt.jpg" alt="White T-Shirt" />
                        <div class="card-body text-center">
                            <h5 class="card-title">White T-Shirt</h5>
                            <p class="card-text">79.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/clothes/leggins.jpg" alt="Pink Tank Top" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Pink Tank Top</h5>
                            <p class="card-text">109.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/clothes/t-shirt.jpg" alt="Grey T-Shirt" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Grey T-Shirt</h5>
                            <p class="card-text">89.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/clothes/tank-top.jpg" alt="Blue Tank Top" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Blue Tank Top</h5>
                            <p class="card-text">99.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/clothes/leggins.jpg" alt="Black T-Shirt" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Black T-Shirt</h5>
                            <p class="card-text">79.99 PLN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
