@{
    ViewData["Title"] = "Drinks";
}

<div class="container pt-4">
    <div class="row g-4">
        <!-- Lewy panel filtrów -->
        <div class="col-md-3 col-lg-2">
            <form action="/" method="post">
                <h5><label class="fw-bold" for="options">Flavor</label></h5>
                <select class="form-select">
                    <option value="fruity">Fruity</option>
                    <option value="tea">Tea</option>
                    <option value="coffee">Coffee</option>
                </select>
            </form>
        </div>

        <!-- Sekcja kart z napojami -->
        <div class="col-md-9 col-lg-10">
            <div class="row g-4">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/drinks/apple-energy-drink.jpg" alt="Be Chad Energy Drink - Tropical" />
                        <div class="card-body">
                            <h5 class="card-title">Be Chad Energy Drink - Tropical</h5>
                            <p class="card-text">7.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/drinks/classic-energy-drink.jpg" alt="Be Chad Energy Drink - Berry" />
                        <div class="card-body">
                            <h5 class="card-title">Be Chad Energy Drink - Berry</h5>
                            <p class="card-text">7.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/drinks/apple-energy-drink.jpg" alt="Be Chad Energy Drink - Citrus" />
                        <div class="card-body">
                            <h5 class="card-title">Be Chad Energy Drink - Citrus</h5>
                            <p class="card-text">7.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/drinks/classic-energy-drink.jpg" alt="CoolDown Iced Tea - Peach" />
                        <div class="card-body">
                            <h5 class="card-title">CoolDown Iced Tea - Peach</h5>
                            <p class="card-text">5.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/drinks/apple-energy-drink.jpg" alt="CoolDown Iced Tea - Lemon" />
                        <div class="card-body">
                            <h5 class="card-title">CoolDown Iced Tea - Lemon</h5>
                            <p class="card-text">5.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/drinks/classic-energy-drink.jpg" alt="Arctic Brew Iced Coffee" />
                        <div class="card-body">
                            <h5 class="card-title">Arctic Brew Iced Coffee</h5>
                            <p class="card-text">9.99 PLN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
