@{
    ViewData["Title"] = "Home Page";

}



<div class="full-image-1" style="width: 100%; margin: 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h1 class="text-white">Get professional equipment with us</h1>
                <h1 class="text-white">Our mission is to give our clients possibillity to be skibidi sigmas </h1>
            </div>
        </div>
    </div>
</div>

<div class="full-image-2" style="width: 100%; margin: 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h1 class="text-white">Check what we have at our sale! New products cheaper!</h1>
                <h1 class="text-white">With that prices be chad is effortless!</h1>
                <button><a href="#">Check our sale!</a></button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/script.js"></script>






