@{
    ViewData["Title"] = "Sign in";

}



<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="login-container">
        <h2 class="text-center mb-4">Logowanie</h2>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Wprowadź email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Hasło</label>
                <input type="password" class="form-control" id="password" placeholder="Wprowadź hasło">
            </div>
            <button type="submit" class="btn btn-dark w-100">Zaloguj się</button>
        </form>
    </div>
</div>