@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Supplements";
}

<div class="container pt-4">
    <div class="row g-4">
        <div class="col-12 col-md-3">
            <form action="/" method="post">
                <h5><label class="fw-bold" for="flavor">Flavor</label></h5>
                <select class="form-select" id="flavor">
                    <option value="option-1">Fruity</option>
                    <option value="option-2">Tea</option>
                    <option value="option-3">Coffee</option>
                </select>
                <h5 class="mt-2"><label class="fw-bold" for="supplements">Supplements:</label></h5>
                <select class="form-select" id="supplements">
                    <option value="option-1">Creatine</option>
                    <option value="option-2">Citrulline</option>
                    <option value="option-3">Caffeine</option>
                </select>
            </form>
        </div>
        <div class="col-12 col-md-9">
            <div class="row g-4 justify-content-center">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/supplements/creatine.jpg" alt="Creatine" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Creatine - 500g</h5>
                            <p class="card-text">49.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/supplements/coffeine.jpg" alt="Caffeine" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Caffeine - 500g</h5>
                            <p class="card-text">60.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/supplements/creatine.jpg" alt="Creatine" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Creatine - 500g</h5>
                            <p class="card-text">49.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/supplements/coffeine.jpg" alt="Caffeine" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Caffeine - 500g</h5>
                            <p class="card-text">60.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/supplements/citrulline.jpg" alt="Citrulline" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Citrulline - 500g</h5>
                            <p class="card-text">39.99 PLN</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/images/supplements/citrulline.jpg" alt="Citrulline" />
                        <div class="card-body text-center">
                            <h5 class="card-title">Citrulline - 500g</h5>
                            <p class="card-text">39.99 PLN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
