@using SportsShop.Core.ServiceContracts.DTO.GymnasticRingDto
@model GymnasticRingResponse
@{
    ViewData["Title"] = "Ring details - " + Model.Name;
}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-3">
            <img src="@Url.Content(Model.ImagePath)"
                 class="img-fluid"
                 alt="Product Image" />
        </div>
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
            <h1 class="mb-3">@Model.Name</h1>
            <h4 class="mb-4">@Model.Price PLN</h4>
            <p class="mb-4">
                @Model.Description
            </p>
            <form asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId=@Model.ProductId asp-route-type="GymnasticRing" method="post">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h5>Choose Quantity</h5>
                        <select name="quantity" class="form-control w-50">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark btn-lg mb-4">
                    Add to Cart
                </button>
            </form>
        </div>
    </div>
</div>
