@model WeightPlate
@{
    ViewData["Title"] = "Weight plate - " + Model.Product.Name;
}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-3">
            <img src="@Url.Content(Model.ImagePath)"
                 class="img-fluid"
                 alt="Product Image" />
        </div>
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
            <h1 class="mb-3">@Model.Product.Name</h1>
            <h4 class="mb-4">@Model.Product.Price PLN</h4>
            <p class="mb-4">
                @Model.Product.Description
            </p>
            <button class="btn btn-dark btn-lg mb-4" type="button">
                Add to Cart
            </button>
            <div class="row">
                <div class="col-6 mb-3">
                    <h5>Choose Quantity</h5>
                    <select class="form-control w-50">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
