.vh-75{
    height: 75vh;
}

.card {
    padding: 1rem;
}
.company-icon{
    width:80px;
    height:60px;
}

.company-icon-big{
    height: 250px;
}

select {
    background-color: #f0f0f0; 
    color: #333; 
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc; 
    border-radius: 8px; 
    outline: none;
    cursor: pointer;
}

select:hover, select:focus {
    border-color: #999;
    background-color: #e6e6e6; 
}


option {
    background-color: white;
    color: black;
    font-size: 16px;
}

option:checked {
        background-color: #ddd; 
        font-weight: bold;
}

/********************************************************************/

.photo-height-small {
    height: 400px;
    width: 100%; 
    object-fit: cover;
}

.center-horizontally {
    display: flex;
    justify-content: center;
}

.full-image-1 {
    
    background-image: url('../images/braden-collum-9hi8ujmsdza-unsplash.jpg');
    background-size: cover; 
    background-position: center; 

   
}
.full-image-2 {
    background-image: url('../images/workout-6783020_1920.jpg');
    background-size: cover; 
}

/* Margines górny (margin-top) */
.mt-1 {
    margin-top: 0.25rem !important; /* ~4px */
}

.mt-2 {
    margin-top: 0.5rem !important; /* ~8px */
}

.mt-3 {
    margin-top: 1rem !important; /* ~16px */
}

.mt-4 {
    margin-top: 3rem !important; /* ~24px */
}

.mt-5 {
    margin-top: 6rem !important; /* ~32px */
}

.mh-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.mh-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.mh-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.mh-4 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.mh-5 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.mv-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.mv-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.mv-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.mv-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.mv-5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.p-1 {
    padding: 0.125rem !important; /* ~2px */
}

.p-2 {
    padding: 0.5rem !important; /* ~8px */
}

.p-3 {
    padding: 1rem !important; /* ~16px */
}

.p-4 {
    padding: 1.5rem !important; /* ~24px */
}

.p-5 {
    padding: 2rem !important; /* ~32px */
}

html {
  font-size: 14px;
  margin:0;
  padding:0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.footer {
    position: relative !important;
    bottom: 0 !important;
    width: 100% !important;
    line-height:1.2 !important;
    height:auto !important;
/*    padding-top:20px;
    padding-bottom:20px;*/
}

